[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"browser-cookie3" = "*"
requests = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.7"
